<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{isEditMode ? 'Update' : 'Add'}} a patient</ion-title>
    <!-- <ion-buttons slot="start" *ngIf="!isEditMode">
      <ion-back-button defaultHref="patients"></ion-back-button>
    </ion-buttons> -->

    <ion-buttons slot="end">
      <ion-button (click)="closeModal(null)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select formControlName="genderId" label="Gender" placeholder="Patient Gender" label-placement="stacked">
        <ion-select-option value="1">Male</ion-select-option>
        <ion-select-option value="2">Female</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date of birth</ion-label>
      <ion-input formControlName="dateOfBirth" type="date" max="{{date | date:'yyyy-MM-dd'}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select formControlName="servicesId" label="Type of service" placeholder="Patient Service"
        label-placement="stacked">
        <ion-select-option value="1">Outpatient</ion-select-option>
        <ion-select-option value="2">Inpatient</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">General Comments</ion-label>
      <ion-textarea formControlName="generalComments"></ion-textarea>
    </ion-item>

    <ion-button expand="block" (click)="submitPatient()" [disabled]="form.invalid">
      {{isEditMode ? 'Update' : 'Save'}} patient
    </ion-button>
  </form>
</ion-content>