ion-grid {
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;

  ion-row:first-child {
    background-color: #2dd36f;
    font-weight: bold;
  }

  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
  }

  ion-col:last-child {
    border-right: 1px solid black;
  }

  ion-row:last-child {
    border-bottom: 1px solid black;
  }
}

@media screen and (max-width: 768px) {
  ion-grid {
    ion-col:nth-last-child(2) {
      border-right: 1px solid black;
    }
  }
}

@media screen and (max-width: 576px) {
  ion-grid {
    ion-col:nth-last-child(3) {
      border-right: 1px solid black;
    }
  }
}
