<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Patients</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalIsOpen$.next(true)">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>Name</ion-col>
      <ion-col>Gender</ion-col>
      <ion-col>Type Of Service</ion-col>
      <ion-col class="ion-hide-sm-down">Date Of Birth</ion-col>
      <ion-col class="ion-hide-md-down">General comments</ion-col>
    </ion-row>
    <ion-row
      *ngFor="let patient of patients$ | async"
      (click)="modalProps$.next(patient); modalIsOpen$.next(true)"
      [highlightBackground]="patient.services.length === (mostVisits$ | async)"
    >
      <ion-col>{{ patient.name }}</ion-col>
      <ion-col>{{ patient.gender }}</ion-col>
      <ion-col>{{ patient.services[0] }}</ion-col>
      <ion-col class="ion-hide-sm-down">{{
        patient.dateOfBirth | dateFormatPipe
      }}</ion-col>
      <ion-col class="ion-hide-md-down">{{
        patient.generalComments ? patient.generalComments : "No comments"
      }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal
  [isOpen]="modalIsOpen$ | async"
  (ionModalDidDismiss)="handleDismiss($event)"
>
  <ng-template>
    <app-add-patient [patient]="modalProps$ | async"></app-add-patient>
  </ng-template>
</ion-modal>
