<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Patients</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-patient">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>Name</ion-col>
      <ion-col>Gender</ion-col>
      <ion-col>Type Of Service</ion-col>
      <ion-col>Date Of Birth</ion-col>
      <ion-col>General comments</ion-col>
    </ion-row>
    <ion-row *ngFor="let patient of patients$ | async">
      <ion-col>{{patient.name}}</ion-col>
      <ion-col>{{patient.gender}}</ion-col>
      <ion-col>{{patient.services[0]}}</ion-col>
      <ion-col>{{patient.date_of_birth | dateFormatPipe}}</ion-col>
      <ion-col>{{patient.general_comments ? patient.general_comments : "No comments"}}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>